@import "~bulma/bulma.sass";
@import "~buefy/src/scss/buefy.scss";

html, body {
  overflow: hidden;
}
body {
  color: white;
  background-color: #333;
  height: 100vh;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mr-half {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.p-1 {
  padding: 1rem;
}